<div class="row">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#regulatoryNetwork" role="tab">Interactive reconstruction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#automaticNetwork" role="tab">Batch assembly</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="regulatoryNetwork" role="tabpanel">
                <div class="row">
                    <div class="col-xs-12" style="font-family: 'Kadwa', serif;">
                            <h3>Interactive reconstruction</h3>
                            This demonstration aims at reconstitute step by step regulatory network from biological entities, through Semantic Web.<br />
                            We are querying <a href="http://www.pathwaycommons.org/">PathwayCommons</a> with SPARQL queries to get the transcriptional factors that control your list of genes.
                    </div>
                </div>

                <p></p>

                <div class="row">
                    <div class="col-xs-2">
                        <div class="btn-group" data-toggle="buttons" style="padding-top: 28px;">
                            <label class="btn btn-default active" id="query-type">
                                <input type="radio" checked="checked" autocomplete="off" name="query-type" value="name">Name
                            </label>
                            <label class="btn btn-default" id="query-type">
                                <input type="radio" autocomplete="off" name="query-type" value="id">Id
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="inputGeneList">Your list of genes</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputGeneList" placeholder="AGPAT6,GALT,DHCR24,FTFD1,CAD" value="AGPAT6,GALT,DHCR24,FTFD1,CAD">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnSearchRegulatoryNetwork">Go!</button>
                            </span>

                        </div><!-- /input-group -->
                        <a class="label label-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSparql" style="margin-right:0.3em">
                            <i class="material-icons" style="font-size:11px;">visibility</i> show SPARQL query example
                        </a>
                        <span class="label label-info" id="total-info-nodes"></span>
                        <span class="label label-info" id="total-info-edges"></span>        

                    </div>

                    <div class="col-xs-4">
                        <div></div>
                        <span class="label label-info" id="sendingQuery" style="display:none;">Your query is running...</span>
                        <span class="label label-warning" id="emptyQuery" style="display:none;">Please write your query before sending.</span>
                        <span class="label label-danger" id="errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</span>
                        <span class="label label-info" id="noResult" style="display:none;">No result found.</span>
                    </div>
                </div>

                <p></p>

                <div class="row">
                    <div class="col-xs-8">
                        <div id="collapseSparql" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSparql" style="font-size:10px;">
                            <div class="panel-body">
                                <p id="SPARQLquery">
                                    &#35; Initial query <br />
                                    PREFIX bp: &lt;http://www.biopax.org/release/biopax-level3.owl#&gt; <br />
                                    PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; <br />
                                    PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#&gt; <br />
                                    CONSTRUCT { <br />
                                    ?tempReac bp:displayName ?type ; bp:controlled ?controlledName ; bp:controller ?controllerName ; bp:dataSource ?source . <br />
                                    } WHERE{  <br />
                                    FILTER( (?controlledName = 'Transcription of "geneName"'^^xsd:string>)
                                        and (?controllerName != '"geneName"'^^xsd:string>)
                                        and (?source != "mirtarbase"^^xsd:string>) ) . <br />
                                    ?tempReac a bp:TemplateReactionRegulation . <br />
                                    ?tempReac bp:controlled ?controlled ; bp:controller ?controller ; bp:controlType ?type ; bp:dataSource ?source . <br />
                                    ?controlled bp:displayName ?controlledName . <br />
                                    ?controller bp:displayName ?controllerName . <br />
                                    } <br />
                                    GROUP BY ?controlledName ?controllerName
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-xs-10">
                                <div id="cy" style="min-width: 400px; height:600px; display:block;"></div>
                        </div>
                        <div class="col-xs-2">
                            <div class="panel panel-default" id="next-level-regulation" style="min-width:220px;font-size:12px;display:none;">
                                <div class="panel-heading">
                                    <label>Select gene to add their regulation connexion</label>
                                </div>
                                <div class="panel-body">
                                    <div class="input-group" id="input-next-regulation"  style="max-height:310px;overflow: auto;display:block">

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default" type="button" id="btnRunNextRegulation">Run</button>
                                    <button type="button" class="btn btn-default" id="btn-download">
                                        <a id="a" target="_blank">
                                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                        </a>
                                    </button>
                                </div>
                            </div>
                            <div class="panel panel-default" id="graphe-legend" style="min-width:220px;font-size:12px;display:none;">
                                <div class="panel-heading">
                                    <label><i class="glyphicon glyphicon-info-sign"></i> Legend</label>
                                </div>
                                <div class="panel-body">
                                    <div class="legend">
                                        <i class="glyphicon glyphicon-arrow-right" style="color:#3399ff;"></i>= TFs activation <br />
                                        <i class="glyphicon glyphicon-arrow-right" style="color:#000;"></i>= TFs inhibition <br />
                                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:red;display:inline-block;"></div> = initial input <br />
                                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#FFBF00;display:inline-block;"></div> = last input <br />
                                        <div class="circle" style="border-radius: 50%;width:10px;height:10px;background:#fff;border:3px solid #00b33c;display:inline-block;"></div> = RNA <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="tab-pane" id="automaticNetwork" role="tabpanel">
                <div class="row">
                    <div class="col-xs-12" style="font-family: 'Kadwa', serif;">
                            <h3>Batch Network Assembly</h3>
                            This demonstration aims at reconstitute full regulation network from biological entities, through Semantic Web.<br />
                            We are querying <a href="http://www.pathwaycommons.org/">PathwayCommons</a> with SPARQL queries to get Transcriptional Factors that control your list of genes.
                    </div>
                </div>

                <p></p>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Parameters</strong>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="exampleTextarea">List of genes</label>
                                    <textarea class="form-control" id="geneList" rows="3" placeholder="SLC25A21,TREX2,ATP1B3,DGUOK,ACOT1,CERS5,RIPK4,STK38,G6PC,CDK6,SOAT2,RFNG,FGFR1,FAAH2,DPYD,XYLT1,CDK10,IDH3A,LDHB,ALG6,MGAT2,PNPO,MINK1,ADCY2,KAT6A,TNKS,PTPRB,SMG1,PPM1J,SENP2,ALG1,NOS1,AAK1,GYS1,RPA2" ></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="input-type">Your genes are</label><br>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default active" id="query-type">
                                            <input type="radio" checked="checked" autocomplete="off" name="input-type" value="name">Names
                                        </label>
                                        <label class="btn btn-default" id="query-type">
                                            <input type="radio" autocomplete="off" name="input-type" value="id">IDs
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-primary" type="button" id="btnRunBatch">Run</button>
                            </div>
                        </div>

                        <div class="panel panel-success" id="panel-download-success" style="display:none;">
                            <div class="panel-heading">Results</div>
                            <div class="panel-body">
                                <button type="button" class="btn btn-default" id="btn-download-csv">
                                    <a id="d" target="_blank">
                                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> CSV</span>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-default" id="btn-download-rdf">
                                    <a id="b" target="_blank">
                                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> RDF</span>
                                    </a>
                                </button>
                                <button type="button" class="btn btn-default" id="btn-download-json">
                                    <a id="c" target="_blank">
                                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> JSON</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div></div>
                        <span class="label label-info" id="auto-sendingQuery" style="display:none;">Your query is running...</span>
                        <span class="label label-warning" id="auto-emptyQuery" style="display:none;">Please write your query before sending.</span>
                        <span class="label label-danger" id="auto-errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</span>
                        <span class="label label-info" id="auto-noResult" style="display:none;">No result found.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
