<div class="row">
    <div class="col-xs-12">
            <h3>Automatic Network Assembly</h3>
            This demonstration aims at reconstitute regulation network from genes, through Semantic Web.<br />
            We are querying PathwayCommons with SPARQL queries to get Transcriptional Factors that control your list of genes.
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-xs-6">
        <form>
            <div class="form-group">
                <label for="inputFile">List of genes</label><br />
                <button type="button" class="btn btn-default" onClick="$('#inputFile').click();"><i class="glyphicon glyphicon-file"></i> Browse...</button>
                <p id="filePath" style="display: inline"></p>
                <input type="file" class="btn btn-default" id="inputFile" style="display: none;"><br>
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            <label for="input-type">Your genes are : </label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" id="query-type">
                    <input type="radio" checked="checked" autocomplete="off" name="input-type" value="name">Names
                </label>
                <label class="btn btn-default" id="query-type">
                    <input type="radio" autocomplete="off" name="input-type" value="id">IDs
                </label>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                <button class="btn btn-primary" type="button" id="btnRunBatch">Run</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <div></div>
        <span class="label label-info" id="sendingQuery" style="display:none;">Your query is running...</span>
        <span class="label label-warning" id="emptyQuery" style="display:none;">Please write your query before sending.</span>
        <span class="label label-danger" id="errorQuery" style="display:none;">It seems like an error occurred during your query. Please contact administrator.</span>
        <span class="label label-info" id="noResult" style="display:none;">No result found.</span>
    </div>
</div>
    
<p></p>