<div class="page-header" style="font-family: 'Petrona', serif;">
    <h1 style="font-size:58px;">BRAvo <small>Biological netwoRk Assembly</small></h1>
</div>

<div class="row">
    <div class="col-sm-12 ">
        <p class="home-desc">Welcome to BRAvo, a web application that aims to assemble regulatory networks.</p>
    </div>
    <div class="col-sm-12 ">
        <h3><b>Challenges</b></h3>
        <p class="home-desc">
            Huge efforts address the organization of biological knowledge through linked open databases. 
            These databases can be automatically queried to reconstruct a large variety of biological networks such as regulatory networks. 
            Assembling networks still implies manual operations due to <i>(i)</i> source-specific identification of biological entities, 
            <i>(ii)</i> source-specific semantics for entity-entity relationships, <i>(iii)</i> proliferating heterogeneous life-science databases 
            with redundant information and <i>(iv)</i> the difficulty of recovering the logical flow of a biological pathway due to the 
            bidirectionality of chemical reactions. Homogenization of biological networks is therefore costly and error-prone.
        </p>
        <h3><b>Objectives</b></h3>
        <p class="home-desc">
            With <b>BRAvo</b>, we propose a framework based on Semantic Web technologies. It addresses <i>(i)</i> the uniform identification of 
            multi-source biological entities, <i>(ii)</i> the description of labeled directed graphs through RDF, and <i>(iii)</i> the use of 
            <a href="http://www.biopax.org/">BioPAX</a> as a semantic reference.
        </p>
        <h3><b>Download</b></h3>
        <p class="home-desc">
            BRAvo is freely available on <a href="https://github.com/symetric-group/bionets-demo">github</a>.
        </p>
    </div>
</div>